/* styles.css */

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
}

/* Header styles */
header {
    background-color: white;
    color: #62885A;
    font-family: 'Merriweather', serif;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#company-name-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem; /* Adjust font size */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px; /* Adjust logo size */
    margin-right: 10px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin-left: 20px;
}

.navigation a {
    text-decoration: none;
    color: #62885A;
    font-size: 1.2rem; /* Adjust font size */
}

.hamburger-menu {
    display: none; /* Hide hamburger menu initially */
}

/* Mobile navigation */
.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.mobile-nav.active {
    transform: translateY(0);
}

.mobile-nav a {
    text-decoration: none;
    color: #1f1b1b;
    font-size: 1.2rem;
    margin-bottom: 20px;
    transition: color 0.3s;
}

.mobile-nav a:hover {
    color: #62885A;
}

/* Hero section */
.hero {
    height: 400px;
    background-image: url('lawn2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.overlay h2 {
    font-size: 2.5rem;
    margin-top: 60px;
    font-family: 'Merriweather', serif;
}

.overlay p {
    font-size: 1.2rem;
    margin-top: 10px;
    font-family: 'Merriweather', serif;
}

.overlay .estimate-button {
    margin-top: 60px;
}

/* Introduction section */
#intro {
    margin-top: 20px;
    padding: 0 20px; /* Add padding to match container width */
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-header {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.intro-text {
    margin-bottom: 20px;
}

.intro-image {
    max-width: 100%;
    margin-bottom: 20px;
}

.intro-image img {
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 0.8em;
}

/* Sections common styles */
.section {
    padding: 50px 20px; /* Add padding to match container width */
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px; /* Add padding to match container width */
}

.services {
    margin-bottom: 30px;
}

.services-header {
    font-size: 2em;
    margin-bottom: 20px;
}

.services-description {
    margin-bottom: 30px;
    line-height: 2;
}

.services ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 0;
    line-height: 2;
}

.services li {
    margin-bottom: 10px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.photo {
    position: relative;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.photo:hover img {
    transform: scale(1.1);
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo:hover .overlay2 {
    opacity: 1;
}

.overlay2 p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
}

/* Free estimate page */
#estimate-form {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 0 20px; /* Add padding to match container width */
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #62885A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button[type="submit"]:hover {
    background-color: #1f1b1b;
}

/* Commercial section */
#commercial {
    text-align: center;
    margin-bottom: 40px;
}

.commercial-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px; /* Add padding to match container width */
}

.commercial-header {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.commercial-description {
    margin: 0 0 30px;
    line-height: 2;
}

.commercial-services {
    margin-bottom: 30px;
}

.commercial-services h3 {
    margin-bottom: 10px;
}

.commercial-services ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 0;
    line-height: 2;
}

.commercial-services li {
    margin-bottom: 10px;
}

.project-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.project-images img {
    width: 100%;
    height: auto;
}

/* Projects section */
#projects {
    text-align: center;
    margin-bottom: 40px;
}

.projects-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px; /* Add padding to match container width */
}

.projects-header {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.project {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    height: auto;
    display: block;
}

.project-info {
    padding: 10px;
}

.project-info h3 {
    margin-bottom: 10px;
}

.project-info p {
    line-height: 1.6;
}

/* Contact section */
#contact {
    text-align: center;
    margin-bottom: 40px;
}

.contact-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px; /* Add padding to match container width */
}

.contact-header {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-description {
    margin: 0 0 30px;
    line-height: 2;
}

.contact-info {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; /* Stack contact info vertically */
    justify-content: center;
    align-items: center;
}

.contact-info-item {
    margin-bottom: 20px;
}

.contact-info-item p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.contact-form {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px; /* Add padding to match container width */
    text-align: left;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
}

.contact-form .form-group textarea {
    resize: vertical;
}

.contact-form button[type="submit"] {
    background-color: #62885A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.contact-form button[type="submit"]:hover {
    background-color: #1f1b1b;
}

/* Footer */
footer {
    background-color: #62885A;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #1f1b1b;
}

.footer-text {
    font-size: 0.8em;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    /* Header */
    .navigation {
        display: none; /* Hide regular navigation */
    }

    .hamburger-menu {
        display: block; /* Display hamburger menu */
    }

    #company-name-link {
        font-size: 1.5rem; /* Adjust company name font size */
    }

    /* Mobile navigation */
    .mobile-nav {
        padding: 20px; /* Add padding to mobile nav */
    }

    .mobile-nav.active {
        transform: translateY(0);
    }

    /* Hero section */
    .hero {
        height: 300px; /* Adjust hero height for mobile */
    }

    .overlay h2 {
        font-size: 2rem; /* Adjust font size for mobile */
        margin-top: 40px; /* Adjust margin for mobile */
    }

    .overlay p {
        font-size: 1rem; /* Adjust font size for mobile */
        margin-top: 5px; /* Adjust margin for mobile */
    }

    /* Introduction section */
    .intro-header {
        font-size: 1.8em; /* Adjust font size for mobile */
        margin-bottom: 10px; /* Adjust margin for mobile */
    }

    .intro-text {
        margin-bottom: 10px; /* Adjust margin for mobile */
    }

    /* Sections common styles */
    .section {
        padding: 30px 20px; /* Adjust padding for mobile */
    }

    .services-header {
        font-size: 1.8em; /* Adjust font size for mobile */
        margin-bottom: 15px; /* Adjust margin for mobile */
    }

    .services-description {
        margin-bottom: 20px; /* Adjust margin for mobile */
        line-height: 1.8; /* Adjust line height for mobile */
    }

    .services ul {
        line-height: 1.8; /* Adjust line height for mobile */
    }

    .gallery-grid {
        grid-gap: 15px; /* Adjust grid gap for mobile */
    }

    .photo {
        margin-bottom: 15px; /* Adjust margin for mobile */
    }

    .overlay2 p {
        font-size: 1.2rem; /* Adjust font size for mobile */
    }

    /* Free estimate page */
    #estimate-form {
        margin-top: 30px; /* Adjust margin for mobile */
        margin-bottom: 30px; /* Adjust margin for mobile */
    }

    /* Commercial section */
    .commercial-header {
        font-size: 1.8em; /* Adjust font size for mobile */
        margin-bottom: 15px; /* Adjust margin for mobile */
    }

    .commercial-description {
        margin-bottom: 20px; /* Adjust margin for mobile */
        line-height: 1.8; /* Adjust line height for mobile */
    }

    .commercial-services h3 {
        margin-bottom: 10px; /* Adjust margin for mobile */
    }

    .project-images {
        grid-gap: 15px; /* Adjust grid gap for mobile */
    }

    /* Projects section */
    .projects-header {
        font-size: 1.8em; /* Adjust font size for mobile */
        margin-bottom: 15px; /* Adjust margin for mobile */
    }

    .project-gallery {
        grid-gap: 15px; /* Adjust grid gap for mobile */
    }

    .project-info {
        padding: 5px; /* Adjust padding for mobile */
    }

    /* Contact section */
    .contact-header {
        font-size: 1.8em; /* Adjust font size for mobile */
        margin-bottom: 15px; /* Adjust margin for mobile */
    }

    .contact-description {
        margin-bottom: 20px; /* Adjust margin for mobile */
        line-height: 1.8; /* Adjust line height for mobile */
    }

    .contact-info {
        margin-bottom: 20px; /* Adjust margin for mobile */
    }

    .contact-info-item p {
        margin-bottom: 5px; /* Adjust margin for mobile */
        line-height: 1.8; /* Adjust line height for mobile */
    }

    .contact-form {
        margin-bottom: 30px; /* Adjust margin for mobile */
    }

    .contact-form .form-group {
        margin-bottom: 15px; /* Adjust margin for mobile */
    }
}
